{% extends "base.html" %}
{% block head %}
    <script type="application/javascript">
        $(document).ready(function() {

                $(".rs-collapsible-section .rs-detail-section-header").click(function()
                {
                        $(this).parent().toggleClass("collapsed expanded");
                });

        });
    </script>
{% end %}
{% block title %}
 - New Entry
{% end %}
{% block body %}
      <div class="rs-content">
        <form class="rs-form-create" method="POST">
          <div class="rs-detail-section">
            <div class="rs-detail-section-header">
              <h2 class="rs-page-title">New Product Assessment</h3>
              <div class="rs-detail-section-title">Details</div>
            </div>
            <div class="rs-detail-section-body">
              
              <div class="rs-control-group">
                <label class="rs-control-label">Product</label>
                <div class="rs-controls">
                  <select>
                    <option value="cloudfeeds">CloudFeeds</option>
                    <option value="signup" selected="selected">Signup</option>
                    <option value="customer">Customer</option>
                    <option value="ci-smix">CI Servicemix</option>
                    <option value="barbican">Barbican</option>
                  </select>
                </div>
              </div>
              <div class="rs-control-group">
                <label class="rs-control-label">Group</label>
                <div class="rs-controls">
                  <select>
                    <option value="ptab">PTAB</option>
                    <option value="product">Product</option>
                    <option value="ops" selected="selected">Ops</option>
                    <option value="dev">Developer</option>
                  </select>
                </div>
              </div>
            
            </div>
          </div>
          <div class="rs-detail-section">
            <div class="rs-detail-section-header">
              <div class="rs-detail-section-title">Categories</div>
              <table>
                  <tr>
                      <th></th>
                      <th>Level 1<br />Ad Hoc</th>
                      <th>Level 2<br />Standards</th>
                      <th>Level 3<br />Industry Standard</th>
                      <th>Level 5<br />Industry Leader</th>
                      <th>Level 8<br />World Class</th>
                  </tr>
                  <tr>
                      <td><h5>Documentation</h5></td>
                      <td><input type="radio" name="documentation" value="level1"></td>
                      <td><input type="radio" name="documentation" value="level2"></td>
                      <td><input type="radio" name="documentation" value="level3"></td>
                      <td><input type="radio" name="documentation" value="level5"></td>
                      <td><input type="radio" name="documentation" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="documentation" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
                  <tr>
                      <td><h5>Architectural Operability</h5></td>
                      <td><input type="radio" name="architectural-operability" value="level1"></td>
                      <td><input type="radio" name="architectural-operability" value="level2"></td>
                      <td><input type="radio" name="architectural-operability" value="level3"></td>
                      <td><input type="radio" name="architectural-operability" value="level5"></td>
                      <td><input type="radio" name="architectural-operability" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="architectural-operability" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
                  <tr>
                      <td><h5>Recoverability</h5></td>
                      <td><input type="radio" name="recoverability" value="level1"></td>
                      <td><input type="radio" name="recoverability" value="level2"></td>
                      <td><input type="radio" name="recoverability" value="level3"></td>
                      <td><input type="radio" name="recoverability" value="level5"></td>
                      <td><input type="radio" name="recoverability" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="recoverability" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
                  <tr>
                      <td><h5>Llama! - Logging, Alerting, Monitoring</h5></td>
                      <td><input type="radio" name="llama" value="level1"></td>
                      <td><input type="radio" name="llama" value="level2"></td>
                      <td><input type="radio" name="llama" value="level3"></td>
                      <td><input type="radio" name="llama" value="level5"></td>
                      <td><input type="radio" name="llama" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="llama" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
                  <tr>
                      <td><h5>Automation</h5></td>
                      <td><input type="radio" name="automation" value="level1"></td>
                      <td><input type="radio" name="automation" value="level2"></td>
                      <td><input type="radio" name="automation" value="level3"></td>
                      <td><input type="radio" name="automation" value="level5"></td>
                      <td><input type="radio" name="automation" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="automation" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
                  <tr>
                      <td><h5>Standards</h5></td>
                      <td><input type="radio" name="standards" value="level1"></td>
                      <td><input type="radio" name="standards" value="level2"></td>
                      <td><input type="radio" name="standards" value="level3"></td>
                      <td><input type="radio" name="standards" value="level5"></td>
                      <td><input type="radio" name="standards" value="level8"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td colspan="5"><textarea name="standards" class="rs-input-xlarge" placeholder="Comments or suggestions for getting to the next level or impediments to receiving a higher score" style="width:100%;"></textarea></td>
                  </tr>
              </table>
            </div>
          </div>
          <div class="rs-detail-section">
            <div class="rs-detail-section-header rs-btn-group">
                <input class="rs-btn rs-btn-primary" type="submit" value="Submit" />
              <a href="javascript:void(0);" class="rs-btn rs-btn-link">Cancel</a>
            </div>
          </div>
        </form>
    </div>

{% end %}
