{% extends "base.html" %}
{% block head %}
    <script type="application/javascript">
        $(document).ready(function() {
                
                $(".rs-tabs a").click(function()
                {
                        this.blur();
                        var content = $($(this).attr("href"));
                        content.addClass("active").siblings(".active").removeClass("active");
                        $(this).parent().addClass("active").siblings(".active").removeClass("active");
                        return false;
                });
                
        });
    </script>
{% end %}
{% block title %}
 - View Entry
{% end %}
{% block body %}

      <div class="rs-content">
        <div class="rs-detail-header">
          <div class="rs-detail-header-subtitle">Wed Oct  1 23:00:02 CDT 2014</div>
          <div class="rs-detail-header-title">Entry</div>
        </div>
        <div class="rs-detail-section">
          <div class="rs-detail-section-header">
            <div class="rs-detail-section-title">Details</div>
          </div>
          <div class="rs-detail-section-body">
            <ul class="rs-detail-list">
              <li class="rs-detail-item">
                <div class="rs-detail-key">Product</div>
                <div class="rs-detail-value">Signup</div>
              </li>
              <li class="rs-detail-item">
                <div class="rs-detail-key">Assessed By</div>
                <div class="rs-detail-value">Ops</div>
              </li>
            </ul>
          </div>
        </div>

<ul class="rs-tabs">
  <li><a href="#one">Normal <span class="rs-quiet">(1)</span></a></li>
  <li class="active"><a href="#two">Active <span class="rs-quiet">(2)</span></a></li>
  <li class="hover"><a href="#three">Hover <span class="rs-quiet">(3)</span></a></li>
</ul>
<div class="rs-tab-content">
  <div class="rs-tab-pane one active">
    <p>Tab content pane one</p>
  </div>
  <div class="rs-tab-pane active">
    <p>Tab content pane two</p>
  </div>
  <div class="rs-tab-pane">
    <p>Tab content pane three</p>
  </div>
</div>

    </div>
    <!-- End Container -->

{% end %}
